# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://your_project_id.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=your_project_public_supbase_anon_key

# API Gateway Endpoint

API_ENDPOINT=https://your_api_endpoint.ap-south-1.amazonaws.com
